* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #30444e;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p {
    margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

button:hover,
button:active {
    background-color: #FEBA08;
    color: #263238;
    cursor: pointer;
}

address {
    font-style: normal;
}

.container {
    width: 100%;
    max-width: 1173px;
    margin: 0 auto;
    padding: 0 16px;
}

.section-title {
    color: #1f2e35;
}

.text-accent {
    color: #ee4248;
}

/* Navigation */

.nav-container {
    display: flex;
    align-items: center;
}

.nav-link {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 50px;
}

.nav-img {
    display: flex;
    gap: 24px;
}

.logo {
    padding-top: 22px;
}

.nav-item {
    font-weight: 400;
    font-size: 18px;
    color: rgba(31, 46, 53, 0.8);
}

.nav-item:hover,
.nav-item:focus {
    color: #ee4248;
    ;
}

/* Hero section */

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-text {
    max-width: 545px;
}

.hero-section {
    margin-bottom: 100px;
    padding-top: 125px;
}

.hero-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.33687;
    margin-bottom: 24px;
}

.hero-text {
    font-size: 20px;
    line-height: 1.44687;
    margin-bottom: 24px;
}

.hero-btn {
    font-size: 20px;
    line-height: 1.44687;
    color: #fff;
    border-radius: 4px;
    padding: 12px 32px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.25);
    background: #ee4248;
}

/* About company */

.about-container {
    display: flex;
    align-items: center;
    gap: 80px;
}

.about-section {
    margin-bottom: 100px;
    background-color: #F6F6F6;
}

.about-img {
    margin-bottom: 60px;
}

.about-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.33687;
    padding-top: 54px;
    margin-bottom: 24px;
}

.about-accent {
    font-weight: 500;
}

.about-text {
    margin-bottom: 24px;
}

/* Product and Servic */

.product-container {
    display: flex;
    flex-direction: column;
}

.product-list {
    display: flex;
    gap: 80px;
    margin: 0 auto;
}

.product-item {
    flex-basis: calc((100% - 32) / 3);
}

.product-section {
    margin-bottom: 100px;
}

.product-img {
    margin-bottom: 15px;
}

.product-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.33687;
    text-align: center;
    margin-bottom: 46px;
}

.product-sub-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.33687;
    color: #ee4248;
    margin-bottom: 15px;
}

.product-text {
    margin-bottom: 15px;
}

.product-btn {
    line-height: 1.44687;
    color: #fff;
    border-radius: 4px;
    padding: 8px 16px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
    background: #ee4248;
}

/* Footer */

.footer-container {
    display: flex;
    align-items: center;
    gap: 48px;
}

.address-list {
    margin-bottom: 18px;
    max-width: 318px;
}

.address-title {
    font-weight: 500;
    margin-bottom: 8px;
}

.address-link {
    font-weight: 300;
    line-height: 1.49187;
    color: #263238;
}

.address-link:hover,
.address-link:focus {
    color: #ee4248;
}

.contact-title {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 16px;
}

.contact-item {
    font-weight: 300;
    line-height: 1.49187;
    color: #263238;

}

.contact-item:hover,
.contact-item:focus {
    color: #ee4248;
}

.footer-text {
    width: 100%;
    font-weight: 300;
    color: #fff;
    background-color: #ee4248;
    padding: 22px 0;
    text-align: center;
}

.footer-accent {
    font-weight: 500;
}