body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #30444e;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3 {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

button:hover,
button:active {
    background-color: #FEBA08;
    color: #263238;
    cursor: pointer;
}

address {
    font-style: normal;
}

.section-title {
    color: #1f2e35;
}

.text-accent {
    color: #ee4248;
}

/* Navigation */

.nav-item {
    font-weight: 400;
    font-size: 18px;
    color: rgba(31, 46, 53, 0.8);
}

/* Hero section */

.hero-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.33687;
}

.hero-text {
    font-size: 20px;
    line-height: 1.44687;
}

.hero-btn {
    font-size: 20px;
    line-height: 1.44687;
    color: #fff;
    border-radius: 4px;
    padding: 12px 32px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.25);
    background: #ee4248;
}

/* About company */

.about-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.33687;
}

.about-accent {
    font-weight: 500;
}

/* Product and Servic */

.product-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.33687;
    text-align: center;
}

.product-sub-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.33687;
    color: #ee4248;
}

.product-btn {
    line-height: 1.44687;
    color: #fff;
    border-radius: 4px;
    padding: 8px 16px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
    background: #ee4248;
}

/* Footer */

.address-title {
    font-weight: 500;
}

.address-text {
    font-weight: 300;
    line-height: 1.49187;
}

.contact-item {
    font-weight: 300;
    line-height: 1.49187;
    color: #263238;
}

.footer-text {
    color: #fff;
    background-color: #ee4248;
}

.footer-accent{
    font-weight: 500;
}