/* General */

body {
    background-color: #fff;
    color: #30444e;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}

.logo {
    width: 119px;
    height: 56px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #ee4248;
    text-decoration: underline;
}

li {
    list-style-type: none;
}

h1,
h2,
h3 {
    color: #1f2e35;
}

.btn {
    color: #fff;
    background: #ee4248;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-family: inherit;
}

.btn:hover {
    background-color: #9c1f23;
}

/* Header */

.header-navigation {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
    position: fixed;
    background-color: #fff;
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-item-container {
    display: flex;
    gap: 50px;
    padding-top: 22px;
    padding-right: 116px;
    margin-bottom: 40px;
    text-align: center;
}

.nav-img-container {
    display: flex;
    gap: 24px;
    padding-top: 22px;
    padding-right: 165px;
    margin-bottom: 40px;
}

.nav-logo {
    padding-top: 40px;
    padding-left: 156px;
    margin-bottom: 22px;
    text-align: center;
}

.nav-item {
    color: rgba(31, 46, 53, 0.8);
    gap: 24px;
}

/* Hero section */

.hero-section-container {
    display: flex;
    padding: 151px 158px 100px 157px;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 17px;
    width: 545px;
}

.hero-img {
    padding-left: 30px;
}

.hero-title,
.title-accent {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.34;
    padding-bottom: 24px;
    margin: 0;
}

.title-accent {
    color: #ee4248;
}

.hero-text {
    font-size: 20px;
    line-height: 1.45;
    margin: 0;
    padding-bottom: 24px;
}

.hero-btn {
    border-radius: 4px;
    padding: 12px 32px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 12px 32px;
}

/* About company */

.about-company-container {
    display: flex;
    background-color: #f6f6f6;
    height: 500px;
}

.about-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 36px;
    padding-right: 192px;
    padding-left: 82px;
    padding-bottom: 63px;
    width: 800px;
}

.about-img {
    margin-right: 60px;
    margin-bottom: 35px;
    margin-left: 135px;
}

.about-title,
.about-title-accent {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.34;
}

.about-title-accent {
    color: #ee4248;
}

/* Product and Service */

.product-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 9px;
    padding-top: 17px;
    margin: 17px 167px 87px 167px;
    width: 1250px;
}

.product-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.34;
    text-align: center;
    padding-top: 116px;
}

.product-sub-title {
    color: #ee4248;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.34;
}

.product-btn {
    padding: 8px 16px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
}

/* Address */

.address {
    font-style: normal;
}

.address-title {
    font-weight: 500;
    color: #263238;
}

/* Footer */
.footer-container {
    display: flex;
    align-items: center;
    margin: 0;
}

.address-title {
    font-weight: 500;
    margin-left: 62px;
}

.address-text {
    font-weight: 300;
    line-height: 1.49;
    margin-left: 62px;
}

.contact-item {
    text-decoration: none;
    color: #263238;
    font-style: normal;
    font-weight: 300;
    line-height: 1.49;
    padding-bottom: 13px;
}

.footer-text {
    background-color: #ee4248;
    width: 100%;
    height: 64px;
    color: #fff;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 22px;
}

.footer-accent {
    font-weight: 500;
}

.logo-footer {
    padding-left: 108px;
}